<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-personal-card name="juan a" surname="gomez garcia" age="12"></app-personal-card>
  <app-personal-card name="pepe" surname="lopez gamez" age="12"></app-personal-card>
  <app-personal-card name="maria" surname="berlanga pozo" age="12"></app-personal-card>
  <app-personal-card name="luisa" surname="cuevas galan" age="12"></app-personal-card>
</ion-content>
